<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper
  PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
  "https://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="com.Unicon.mapper.AdptMapper">
<!-- 
<resultMap id="AnimalResultMap" type="com.Unicon.domain.AnimalVO">
	<id property="adpt_id" column="animal_id"/>
	<result property="category_code" column="category_code"/>
	<result property="category_etc_value" column="category_etc_value"/>
	<result property="animal_name" column="animal_name"/>
	<result property="animal_color" column="animal_color"/>
	<result property="animal_gender" column="animal_gender"/>
	<result property="animal_neuter" column="animal_neuter"/>
	<result property="animal_age" column="animal_age"/>
	<result property="animal_weight" column="animal_weight"/>
	<result property="animal_regdate" column="animal_regdate"/>
	<result property="animal_upddate" column="animal_upddate"/>
	<result property="animal_regnum" column="animal_regnum"/>
	<result property="animal_act" column="animal_act"/>
	<result property="animal_etc" column="animal_etc"/>
	<result property="animal_status" column="animal_status"/>
	
	<association property="adptCounsel" resultMap="CounselResultMap"/>
	<association property="adptMember" resultMap="MemberResultMap"/>
	<association property="animalInterest" resultMap="InterestResultMap"/>
	<association property="adpt" resultMap="AdptResultMap"/>
	
	<collection property="animal_images" ofType="com.Unicon.domain.ImageVO" resultMap="ImageResultMap"/>
	<collection property="animal_healths" ofType="com.Unicon.domain.AnimalHealthVO" resultMap="HealthResultMap"/>
	<collection property="animal_vaccines" ofType="com.Unicon.domain.AnimalVaccineVO" resultMap="VaccineResultMap"/>
</resultMap>


<resultMap id="ImageResultMap" type="com.Unicon.domain.ImageVO">
	<result property="image_id" column="image_id"/>
	<result property="image_type" column="image_type"/>
	<result property="image_sequence" column="image_sequence"/>
	<result property="image_src" column="image_src"/>
</resultMap>


<resultMap id="HealthResultMap" type="com.Unicon.domain.AnimalHealthVO">
	<result property="animal_id" column="animal_id"/>
	<result property="health" column="health"/>
	<result property="health_check" column="health_check"/>
</resultMap>


<resultMap id="VaccineResultMap" type="com.Unicon.domain.AnimalVaccineVO">
	<result property="adpt_id" column="animal_id"/>
	<result property="vaccine" column="vaccine"/>
	<result property="vaccine_check" column="vaccine_check"/>
</resultMap>


<resultMap id="CounselResultMap" type="com.Unicon.domain.AdptCounselVO">
	<result property="animal_id" column="animal_id"/>
	<result property="counsel_id" column="counsel_id"/>
	<result property="counsel_subdate" column="counsel_subdate"/>
	<result property="counsel_procdate" column="counsel_procdate"/>
	<result property="counsel_status" column="counsel_status"/>
</resultMap>


<resultMap id="MemberResultMap" type="com.Unicon.domain.AdptMemberVO">
	<result property="member_id" column="member_id"/>
	<result property="member_name" column="member_name"/>
	<result property="member_tel" column="member_tel"/>
	<result property="member_addr" column="member_addr"/>
	<result property="member_email" column="member_email"/>
	<result property="membar_age" column="membar_age"/>
	<result property="member_gender" column="member_gender"/>
</resultMap>


<resultMap id="InterestResultMap" type="com.Unicon.domain.AdptInterestVO">
	<result property="adpt_id" column="adpt_id"/>
	<result property="member_id" column="member_id"/>
	<result property="interest_regdate" column="interest_regdate"/>
	<result property="adpt_interest_sum" column="adpt_interest_sum"/>
</resultMap>


<insert id="adptInsert">
	insert into _adpt (adpt_id, pet_code,  adpt_name, adpt_color, 
	 adpt_gender, adpt_neuter, adpt_age, adpt_weight, member_id, 
	  pet_etc_breed, adpt_regnum, adpt_act, adpt_social, adpt_intro, adpt_etc, adpt_status) 
	values (#{adpt_id}, #{pet_code}, #{adpt_name}, #{adpt_color}, 
	 #{adpt_gender}, #{adpt_neuter}, #{adpt_age}, #{adpt_weight}, #{member_id}, 
	  #{pet_etc_breed}, #{adpt_regnum}, #{adpt_act}, #{adpt_social}, #{adpt_intro}, #{adpt_etc}, #{adpt_status}) 
</insert>
<insert id="adptImageInsert">
	insert into _image (image_id, image_type, image_sequence, image_src) 
	 values (#{image_id}, #{image_type}, #{image_sequence}, #{image_src}) 
</insert>
<insert id="adptHealthInsert">
	insert into _adpt_health (adpt_id, health, health_check) 
	 values (#{adpt_id}, #{health}, #{health_check})
</insert>
<insert id="adptVaccineInsert">
	insert into _adpt_vaccine (adpt_id, vaccine, vaccine_check) 
	 values (#{adpt_id}, #{vaccine}, #{vaccine_check}) 
</insert>


 -->

</mapper>


