<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper
  PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
  "https://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="com.Unicon.mapper.AdptMapper">

<resultMap id="AdptResultMap" type="com.Unicon.domain.AdptVO">
	<id property="adpt_id" column="adpt_id"/>
	<result property="pet_code" column="pet_code"/>
	<result property="pet_etc_breed" column="pet_etc_breed"/>
	<result property="adpt_name" column="adpt_name"/>
	<result property="adpt_color" column="adpt_color"/>
	<result property="adpt_gender" column="adpt_gender"/>
	<result property="adpt_neuter" column="adpt_neuter"/>
	<result property="adpt_age" column="adpt_age"/>
	<result property="adpt_weight" column="adpt_weight"/>
	<result property="adpt_regdate" column="adpt_regdate"/>
	<result property="adpt_upddate" column="adpt_upddate"/>
	<result property="adpt_regnum" column="adpt_regnum"/>
	<result property="adpt_act" column="adpt_act"/>
	<result property="adpt_social" column="adpt_social"/>
	<result property="adpt_intro" column="adpt_intro"/>
	<result property="adpt_etc" column="adpt_etc"/>
	<result property="adpt_status" column="adpt_status"/>
	
	<association property="adptCounsel" resultMap="CounselResultMap"/>
	<association property="adptMember" resultMap="MemberResultMap"/>
	<association property="adptInterest" resultMap="InterestResultMap"/>
	
	<collection property="adpt_images" ofType="com.Unicon.domain.ImageVO" resultMap="ImageResultMap"/>
	<collection property="adpt_healths" ofType="com.Unicon.domain.AdptHealthVO" resultMap="HealthResultMap"/>
	<collection property="adpt_vaccines" ofType="com.Unicon.domain.AdptVaccineVO" resultMap="VaccineResultMap"/>
</resultMap>


<resultMap id="ImageResultMap" type="com.Unicon.domain.ImageVO">
	<result property="image_id" column="image_id"/>
	<result property="image_type" column="image_type"/>
	<result property="image_sequence" column="image_sequence"/>
	<result property="image_src" column="image_src"/>
</resultMap>


<resultMap id="HealthResultMap" type="com.Unicon.domain.AdptHealthVO">
	<result property="adpt_id" column="adpt_id"/>
	<result property="health" column="health"/>
	<result property="health_check" column="health_check"/>
</resultMap>


<resultMap id="VaccineResultMap" type="com.Unicon.domain.AdptVaccineVO">
	<result property="adpt_id" column="adpt_id"/>
	<result property="vaccine" column="vaccine"/>
	<result property="vaccine_check" column="vaccine_check"/>
</resultMap>


<resultMap id="CounselResultMap" type="com.Unicon.domain.AdptCounselVO">
	<result property="adpt_id" column="adpt_id"/>
	<result property="counsel_id" column="counsel_id"/>
	<result property="counsel_subdate" column="counsel_subdate"/>
	<result property="counsel_procdate" column="counsel_procdate"/>
	<result property="counsel_status" column="counsel_status"/>
</resultMap>


<resultMap id="MemberResultMap" type="com.Unicon.domain.AdptMemberVO">
	<result property="member_id" column="member_id"/>
	<result property="member_name" column="member_name"/>
	<result property="member_tel" column="member_tel"/>
	<result property="member_addr" column="member_addr"/>
	<result property="member_email" column="member_email"/>
	<result property="membar_age" column="membar_age"/>
	<result property="member_gender" column="member_gender"/>
</resultMap>


<resultMap id="InterestResultMap" type="com.Unicon.domain.AdptInterestVO">
	<result property="adpt_id" column="adpt_id"/>
	<result property="member_id" column="member_id"/>
	<result property="interest_regdate" column="interest_regdate"/>
	<result property="adpt_interest_sum" column="adpt_interest_sum"/>
</resultMap>


<insert id="adptInsert">
	insert into _adpt (adpt_id, pet_code,  adpt_name, adpt_color, 
	 adpt_gender, adpt_neuter, adpt_age, adpt_weight, member_id, 
	  pet_etc_breed, adpt_regnum, adpt_act, adpt_social, adpt_intro, adpt_etc, adpt_status) 
	values (#{adpt_id}, #{pet_code}, #{adpt_name}, #{adpt_color}, 
	 #{adpt_gender}, #{adpt_neuter}, #{adpt_age}, #{adpt_weight}, #{member_id}, 
	  #{pet_etc_breed}, #{adpt_regnum}, #{adpt_act}, #{adpt_social}, #{adpt_intro}, #{adpt_etc}, #{adpt_status}) 
</insert>
<insert id="adptImageInsert">
	insert into _image (image_id, image_type, image_sequence, image_src) 
	 values (#{image_id}, #{image_type}, #{image_sequence}, #{image_src}) 
</insert>
<insert id="adptHealthInsert">
	insert into _adpt_health (adpt_id, health, health_check) 
	 values (#{adpt_id}, #{health}, #{health_check})
</insert>
<insert id="adptVaccineInsert">
	insert into _adpt_vaccine (adpt_id, vaccine, vaccine_check) 
	 values (#{adpt_id}, #{vaccine}, #{vaccine_check}) 
</insert>




</mapper>


