<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper
  PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
  "https://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="com.Unicon.mapper.CommunityMapper">

<resultMap id="PostResultMap" type="com.Unicon.domain.PostVO">
	<id property="post_id" column="post_id"/>
	<result property="member_id" column="member_id"/>
	<result property="post_title" column="post_title"/>
	<result property="post_content" column="post_content"/>
	<result property="post_date" column="post_date"/>
	<result property="post_type" column="post_type"/>
	<result property="pet_code" column="pet_code"/>
	<result property="pet_etc_breed" column="pet_etc_breed"/>
	<result property="post_pet_place" column="post_pet_place"/>
	<result property="post_pet_date" column="post_pet_date"/>
	
	<association property="jypMember" resultMap="JypMemberResultMap" />
	<association property="petData" resultMap="PetDataResultMap" />
	
<!-- 	<association property="adptCounsel" resultMap="CounselResultMap"/> -->
<!-- 	<association property="adptMember" resultMap="MemberResultMap"/> -->
<!-- 	<association property="adptInterest" resultMap="InterestResultMap"/> -->
	
<!-- 	<collection property="adpt_images" ofType="com.Unicon.domain.ImageVO" resultMap="ImageResultMap"/> -->
<!-- 	<collection property="adpt_healths" ofType="com.Unicon.domain.AdptHealthVO" resultMap="HealthResultMap"/> -->
<!-- 	<collection property="adpt_vaccins" ofType="com.Unicon.domain.AdptVaccinVO" resultMap="VaccinResultMap"/> -->
</resultMap>

<resultMap id="PetDataResultMap" type="com.Unicon.domain.PetDataVO">
	<id property="pet_code" column="pet_code"/>
	<result property="pet_type" column="pet_type"/>
	<result property="pet_breed" column="pet_breed"/>
</resultMap>

<resultMap id="CommentResultMap" type="com.Unicon.domain.CommentVO">
	<id property="comment_id" column="comment_id"/>
	<result property="post_id" column="post_id"/>
	<result property="member_id" column="member_id"/>
	<result property="comment_content" column="comment_content"/>
	<result property="comment_date" column="comment_date"/>
</resultMap>

<resultMap id="PostLikeResultMap" type="com.Unicon.domain.PostLikeVO">
	<result property="post_id" column="post_id"/>
	<result property="member_id" column="member_id"/>
</resultMap>

<resultMap id="CommentLikeResultMap" type="com.Unicon.domain.CommentLikeVO">
	<result property="comment_id" column="comment_id"/>
	<result property="member_id" column="member_id"/>
</resultMap>

<resultMap id="FollowResultMap" type="com.Unicon.domain.FollowVO">
	<result property="from_member_id" column="from_member_id"/>
	<result property="to_member_id" column="to_member_id"/>
</resultMap>

<resultMap id="ImageResultMap" type="com.Unicon.domain.ImageVO">
	<id property="image_id" column="image_id"/>
	<id property="image_type" column="image_type"/>
	<id property="image_sequence" column="image_sequence"/>
	<result property="image_src" column="image_src"/>
</resultMap>

<resultMap id="MyPetResultMap" type="com.Unicon.domain.MyPetVO">
	<id property="pet_id" column="pet_id"/>
	<result property="pet_name" column="pet_name"/>
	<result property="pet_code" column="pet_code"/>
	<result property="pet_etc_breed" column="pet_etc_breed"/>
	<result property="pet_gender" column="pet_gender"/>
	<result property="pet_neuter" column="pet_neuter"/>
	<result property="pet_date" column="pet_date"/>
	<result property="pet_birth" column="pet_birth"/>
	<result property="pet_color" column="pet_color"/>
	<result property="pet_content" column="pet_content"/>
</resultMap>

<resultMap id="JypMemberResultMap" type="com.Unicon.domain.JypMemberVO">
	<id property="member_id" column="member_id"/>
	<result property="member_name" column="member_name"/>
	<result property="member_addr" column="member_addr"/>
	<result property="member_nickname" column="member_nickname"/>
	<result property="member_image" column="member_image"/>
	<result property="pet_id" column="pet_id"/>
</resultMap>


<!-- <select id="selectPostAll" resultMap="PostResultMap"> -->
<!-- 	select  -->
<!-- 		a.adpt_id, a.pet_code, a.pet_etc_breed, a.adpt_name,  -->
<!-- 		a.adpt_color, a.adpt_gender, a.adpt_neuter,  -->
<!-- 		a.adpt_age, a.adpt_weight, a.adpt_regdate,  -->
<!-- 		a.adpt_upddate, a.adpt_regnum, a.adpt_act,  -->
<!-- 		a.adpt_social, a.adpt_intro, a.adpt_etc,  -->
<!-- 		a.adpt_status, a.adpt_interest_sum,  -->
<!-- 		c.counsel_id, c.counsel_subdate, c.counsel_procdate, c.counsel_status,  -->
<!-- 		m.member_id, m.member_name, m.member_tel, m.member_addr,  -->
<!-- 		m.member_email, m.membar_age, m.member_gender,  -->
<!-- 		i.image_id, i.image_type, i.image_sequence, i.image_src,  -->
<!-- 		h.health, v.vaccin,  -->
<!-- 		i.adpt_id AS image_adpt_id, h.adpt_id AS health_adpt_id, v.adpt_id AS vaccin_adpt_id  -->
<!-- 	 from adoption a  -->
<!-- 		LEFT JOIN adpt_counsel c ON a.adpt_id = c.adpt_id  -->
<!-- 		LEFT JOIN adpt_member m ON a.adpt_id = m.adpt_id  -->
<!-- 		LEFT JOIN images i ON a.adpt_id = i.adpt_id  -->
<!-- 		LEFT JOIN adpt_health h ON a.adpt_id = h.adpt_id  -->
<!-- 		LEFT JOIN adpt_vaccin v ON a.adpt_id = v.adpt_id  -->
<!-- 	where a.adpt_id = #{adpt_id} -->
<!-- </select> -->



<!-- 게시물 등록 -->
<!-- post_id, 이미지 구조 변경 필요 -->
<insert id="postInsert">
	insert into _post (post_id, member_id, post_title, post_content, post_date, post_type, pet_code, pet_etc, breed, post_pet_place, post_pet_date) 
	values (#{post_id}, #{member_id}, #{post_title}, #{post_content}, now(), #{post_type}, #{pet_code}, #{pet_etc_breed}, #{post_pet_place}, #{post_pet_date}) 
</insert>
<insert id="postImageInsert">
	insert into _image 
	 values (#{image_id}, #{image_type}, #{image_sequence}, #{image_src}) 
</insert>



</mapper>


