<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper
  PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
  "https://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="com.unicon.mapper.InquiryMapper">

	<!-- 게시글 목록 조회 -->
	<select id="getAllInquiries" resultType="InquiryVO">
		SELECT *
		FROM _inquiry
	</select>

	<!-- 페이징처리 -->
	<select id="getBoards" parameterType="map"
		resultType="InquiryVO">
		SELECT *
		FROM _inquiry
		ORDER BY created_at DESC
		LIMIT #{limit}
		OFFSET #{offset}
	</select>

	<select id="getTotalCount" resultType="int">
		SELECT COUNT(*)
		FROM
		_inquiry
	</select>

	<!-- 문의 데이터 삽입 -->
	<insert id="insertInquiry" parameterType="InquiryVO">
		INSERT INTO _inquiry (member_id, member_name, title, content, created_at, istatus, email, phone) 
		VALUES (#{member_id}, #{member_name}, #{title}, #{content}, now(), #{istatus}, #{email}, #{phone})
	</insert>


</mapper>